.div-absolute-control-labyrinth {
    position: absolute;
    bottom: -55px;
    overflow: hidden;
    z-index: 0;
    padding-left: 15px;
    padding-top: 5px;
}

.control-labyrinth {
    height: 100%;
    font-size: 28px;
}

.control-labyrinth a {
    font-size: 28px;
    margin-right: 10px;
    overflow: hidden;"
}

.control-labyrinth img {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}

.control-labyrinth img:hover, .control-labyrinth a.active img {
    -webkit-filter: grayscale(0%)  drop-shadow(1px 1px 3px #1ABC9C) drop-shadow(-1px -1px 3px #1ABC9C);;
    filter: grayscale(0%) drop-shadow(1px 1px 3px #1ABC9C) drop-shadow(-1px -1px 3px #1ABC9C);;
}

.control-canvas {
    background: #2C3E50;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
    height: 50px;
    overflow: hidden;
}

.control-game {
    height: 100%;
    margin-top: 5px;
    padding-left: 15px;
}

.control-game a {
    font-size: 28px;
    margin-right: 15px;
}


.fa-play {
    color: #05D059;
}

.control-game .fa-stop {
    color: #C04848;
}

.control-game .fa-pause {
    color: #3CA2A2;
}

.navbar .dropdown.profile .dropdown-menu {
    width: 450px;
}

.anuncio {
    width: 300px;
    height: 600px;
    right: 0px;
    top: 75px;
    background: transparent;
    position: fixed;
}

@media (max-width: 1360px) {
    .anuncio {
        display: none;
    }
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
    width: 981px;
    height: 530px;
    background: #444444;
    overflow: visible;
}

.card-body {
    padding: 0px !important;
}

.app-container .content-container .side-menu:hover {
    width: 60px;
}

.expanded .content-container .side-menu:hover {
    width: 250px !important;
}

.labirinto-canvas {
    margin-top: 10px;
    margin-left: -20px;
}

.app-container .content-container .side-menu:hover .navbar-nav li a .title {
    display: block;
}

.expanded .content-container .side-menu:hover .navbar-nav li a .title {
    display: inline-block;
}

.app-container.expanded .content-container .navbar-top {
    padding-left: 250px;
}

.app-container.expanded .side-body {
    margin-left: 75px;
}

.dropdown-toggle:hover {
    color: #1ABC9C !important;
}

.flat-green .navbar.navbar-inverse .navbar-nav > li.open > a {
    color: #1ABC9C !important;
}

p.file {
    width: 170px;
    cursor: pointer;

}

.file input {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    opacity: 0.01;
    cursor: pointer;
    width: 170px;
    height: 42px;

}

.file {
    position: relative;
    cursor: pointer;
}
.file label {
    padding: 5px 10px 0px 10px;
    font-size: .9em;
    cursor: pointer;

}

