.navbar .dropdown.profile .dropdown-menu {
    width: 450px;
}

.card {
    border-radius: 2px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
    width: 1240px;
    height: 530px;
    background: #444444;
}

.card-body {
    padding: 0px !important;
}

.app-container .content-container .side-menu:hover {
    width: 60px;
}

.expanded .content-container .side-menu:hover {
    width: 250px !important;
}

.labirinto-canvas {
    margin-top: 10px;
    margin-left: -20px;
}

.app-container .content-container .side-menu:hover .navbar-nav li a .title {
    display: block;
}

.expanded .content-container .side-menu:hover .navbar-nav li a .title {
    display: inline-block;
}

.app-container.expanded .content-container .navbar-top {
    padding-left: 250px;
}

.app-container.expanded .side-body {
    margin-left: 75px;
}

.dropdown-toggle:hover {
    color: #1ABC9C !important;
}

.flat-green .navbar.navbar-inverse .navbar-nav > li.open > a {
    color: #1ABC9C !important;
}

p.file {
    width: 170px;
    cursor: pointer;

}

.file input {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    opacity: 0.01;
    cursor: pointer;
    width: 170px;
    height: 42px;

}

.file {
    position: relative;
    cursor: pointer;
}
.file label {
    padding: 5px 10px 0px 10px;
    font-size: .9em;
    cursor: pointer;

}

