.card {
    border-radius: 2px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
    width: 1200px;
    height: 500px;
}

.card-body {
    padding: 0px !important;
}

